*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

html, body{
  height: 100%;
}

.clear{
  clear: both;
}

.container{
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 2%;
}

.w33{
  width: 33.3%;
}

a, li{
  list-style-type: none;
  text-decoration: none;
}

section.home .card,
section.cv .card,
section.projetos .card{
  display: flex;
  margin: 3rem 0;
  padding: 2rem 3%;
  background: #f8f8f8;
  border: 1px solid #ccc;
  border-radius: 12px;
}


.icons a{
  color: rgb(156, 156, 156);
  font-size: 40px;
  margin-left: 12px;
  transition: 1s;
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -ms-transition: 1s;
  -o-transition: 1s;
}

.icons a:hover{
  color: rgb(128, 128, 248);
}

/* ********** */

/* HEADER */
header{
  background-color: rgb(47, 46, 46);
  padding: 2rem 2%;
}

.flex-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2%;
}

/* logo */
header .logo a{
  color: white;
}
header .logo span{
  color: rgb(97, 97, 255);
  text-transform: uppercase;
}

/* menu-mobile */
nav.mobile{
  display: none;
}

nav.mobile i{
  cursor: pointer;
  font-size: 25px;
  color: white;
}

nav.mobile ul{
  z-index: 999;
  display: flex;
  flex-direction: column;
  text-align: center;
  position: absolute;
  left: 0;
  top: 90px;
  background-color: #4b6cfff5;
  width: 100%;
  
}

nav.mobile a{
  display: block;
  color: white;
  text-transform: uppercase;
}

nav.mobile li{
  padding: 12px 0;
  font-weight: lighter;
  border-bottom: 1px solid #ccc;
}

/* menu-desktop */
nav.desktop ul{
  display: flex;
  margin-top: 10%;
}
nav.desktop li{
  margin: 0 22px;
}

header .line{
  width: 70%;
  padding-bottom: 2px;
  border-top: 1px solid rgb(97, 97, 255);
}

nav.desktop a{
  color: white;
  text-transform: uppercase;
  transition: 1s;
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -ms-transition: 1s;
  -o-transition: 1s;
}

nav.desktop a:hover{
  color: rgb(97, 97, 255);
}
/* HEADER */

/* FOOTER START*/
footer{
  margin-top: 1rem;
  padding: 10px 0;
  text-align: center;
  border-top: 1px solid #ccc;
}
/* FOOTER END*/


/***************/

/* PAGE HOME START */
/* section card  */

.card img{
  max-width: 300px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

section.home .content01{
  padding: 0 2%;
}

section.home .content01 h2{
  margin-top: 1rem;
  color: rgb(63, 63, 253);
  font-weight: bold;
  font-size: 70px;
  text-transform: uppercase;
}

section.home .content01 h3{
  color: rgb(63, 63, 253);
  padding-bottom: 12px;
}

section.home .content02 p{
  margin-bottom: 3rem;
}

section.home .content02 span{
  color: rgb(63, 63, 253);
}

section.home .icons{
  padding-top: 3rem;
}


/* text home */
section.text{
  padding-bottom: 2rem;
  display: flex;
}

.dep{
  width: 80%;
}

section.text .line{
  border: 1px solid #ccc;
  margin: 0 2rem;
}

.dep h2, .citacao h2{
  text-transform: uppercase;
  font-weight: lighter;
  color: rgb(80, 80, 231);
  padding-bottom: 10px;
}
/* PAGE HOME END */

/**************/

/* SECTION CV START */
/* card */

section.cv .card{
  display: flex;
  justify-content: space-around;
}

section.cv .title{
  color: rgb(128, 128, 248);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

section.cv .title i{
  font-size: 16px;
  margin-right: 10px;
}

section.cv .btn{
  padding: 8px 1rem;
  margin-top: 32%;
  display: inline-block;
  color: #fff;
  font-weight: lighter;
  text-transform: uppercase;
  background: rgb(89, 89, 253);
  text-align: center;
}

section.cv .btn:hover{
  background-color: rgb(179, 179, 250);
}

section.cv h2{
  margin-bottom: 10px;
}

section.cv h5{
  font-weight: lighter;
}

section.cv .endereco,
section.cv .contato{
  padding-bottom: 2rem;
}

/* Curriculo */
.grid {
  display: grid;
}

.grid-div {
	margin: 1%;
  font-size: 20px;
  padding: 1rem;
}

.grid-template{
  grid-template-columns: 3fr 1fr;
}

.grid h2{
  border-bottom: 1px solid #ccc;
  width: 90%;
  padding: 1rem 0;
}

.grid p{
  padding: 5px 0 1rem 0;
}

.grid h3,
.grid h4{
  padding: 5px 0;
}

.grid span{
  font-weight: bold;
}

.grid-div p{
  font-weight: lighter;
}
/* SECTION CV END */


/* SECTION PROJETOS START */
/* card */

section.projetos .card{
  display: flex;
  flex-direction: column;
}

section.projetos .card h2{
  font-size: 40px;
  text-transform: uppercase;
  color: rgb(89, 89, 253);
  padding: 0 0 2% 2%;
  
}

/* projetos */
section.projetos .card span{
  font-weight: lighter;
  display: flex;
  justify-content: flex-end;
}

.projetos-recentes .line{
  border-bottom: 1px solid #ccc;
  margin-bottom: 18px;
  width: 50%;
}
.projetos-recentes{
  display: flex;
  flex-direction: column;
}

.div-proj{
  border-bottom: 1px solid rgb(128, 128, 248);
  margin-bottom: 2rem;
  padding-bottom: 1rem;
}

.div-proj h2{
  margin-bottom: 1rem;
}

.proj{
  display: flex;
  align-items: center;
}

.proj i{
  font-size: 72px;
  color: rgb(128, 128, 248);
}

.proj .icon{
  min-width: 100px;
  display: flex;
  justify-content: center;
}

.proj p{
  padding: 0 2%;
}



/* SECTION PROJETOS END */